@model DragonContracts.Models.Address
<div class="editor-label">
    @Html.LabelFor(model => model.Street)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Street, new { data_bind = "value: Street" } )
    @Html.ValidationMessageFor(model => model.Street)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Number)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Number, new { data_bind = "value: Number" } )
    @Html.ValidationMessageFor(model => model.Number)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.City, new { data_bind = "value: City" } )
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ZipCode)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ZipCode, new { data_bind = "value: ZipCode" })
    @Html.ValidationMessageFor(model => model.ZipCode)
</div>
