@{
    ViewBag.Title = "Home";
}
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function ContractsViewModel() {
            var self = this;
            self.loaded = ko.observable(false);
            self.contracts = ko.observableArray([]);
            self.emptyContractJs = null;
            self.newContract = ko.observable();

            self.createContractFromForm = function (formElement) {
                // If valid, post the serialized form data to the web api

                $.validator.unobtrusive.parse($(formElement));

                var val = $(formElement).validate();
                var isValid = val.form();
                if (isValid) {
                    var newContractJs = ko.mapping.toJS(self.newContract);
                    
                    //$.post("/api/contract", newContractJs, "json")
                    //    .done(function (status) {
                    //        alert(status);
                    //        self.contracts.push(newContractJs);
                    //    });

                    self.newContract(ko.mapping.fromJS(self.emptyContractJs));
                    var now = Date();
                    self.newContract().SignedOn(now);
                }
            };

            self.removeContact = function (contact) {
                // First remove from the server, then from the UI
                $.ajax({ type: "DELETE", url: contact.Self })
                    .done(function () { self.contracts.remove(contact); });
            };

            // Load the initial state
            $.getJSON("/api/contract")
                .done(function (data) {
                    self.emptyContractJs = data;
                    self.newContract(ko.mapping.fromJS(data));
                });
            
            $.getJSON("/api/contracts", self.contracts)
                .done(function () {
                    self.loaded(true);

                    //$("#firstParty").find("[id]").each(function (index, element) {
                    //    element.parent()
                    //});
                });
        }
        
        ko.applyBindings(new ContractsViewModel());


    </script>
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <div>
                <button>Všechny typy</button>
                <button>Smlouvy o dílo</button>
                <button>Mandátní smlouvy</button>
                <button>Kupní smlouvy</button>
                <button>Nájemní smlouvy</button>
                <button>Ostatní smlouvy</button>
            </div>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="float-left">
            <img id="loader" src="images/ajax-loader.gif" data-bind="visible: !loaded()" />

            <ul id="contracts" data-bind="visible: loaded, foreach: contracts">
                <li>
                    <h3 data-bind="text: Subject" class="ui-widget-header"></h3>
                    <div><span data-bind="text: Id"></span></div>
                    <div><span data-bind="text: Price"></span></div>
                    <div><span data-bind="text: SignedOn"></span></div>
                    <div data-bind="with: FirstParty">
                        @Html.Partial("Partial/ContactView")
                    </div>
                    <div data-bind="with: SecondParty">
                        @Html.Partial("Partial/ContactView")
                    </div>
                </li>
            </ul>
        </div>
        <div class="float-right" data-bind="with: newContract">
            @Html.Partial("AddContract")
        </div>
    </section>

</div>
